body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $mainBlack;
    font-weight: $light;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:hover {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

