$white: #fff;
$mainBlue: #3399ff;

$mainGray: #ccc;
$lightGray: #ddd;
$veryLightGray: #f7f7f7;

$mainBlack: #333;
$lightBlack: #666;

$mainRed: orangered;
$error: #ff3300;
$success: #00ff33;


$veryBold: 600;
$bold: 400;
$light: 300;